<?= $this->extend('layouts/frontend6.php') ?>
<?= $this->section('card') ?>

<form action="conexion2.php" id="form1" name="form1" method="post">
    <fieldset>
        <legend class="leg">Form. 2 [Reclamos]</legend>


        Estado del reclamo: <br>
        <select name="estado_reclamo" id="estado_reclamo">
            <option>----------</option>
            <option>Pendiente</option>
            <option>Concluido</option>
        </select>
        <br> <br>

        Fecha: <br>
        <input type="date" name="fecha" id="fecha" maxlength="30"> sistema_reclamo: <br>
        <select name="id_sistema_reclamo" id="id_sistema_reclamo">
            <option value="">sistema</option>


            <option value=""></option>
        </select> <br>
        usuario_cosaalt: <br>
        <select name="id_usuario_cosaalt" id="id_usuario_cosaalt">
            <option value="">Usuarios</option>
            >

            <option value="">
        </select>


        <div class="ubi_boton">
            <input type="button" value="ENVIAR" class="boton" onclick="validar();">
            <input type="reset" value="BORRAR" class="boton">
        </div>
    </fieldset>
    <a href="principal2.php"><span class="icon icon-home3">Inicio</span></a>
</form>

<?= $this->endsection() ?><?= $this->section('script') ?>
<script type="text/javascript" src="<?= base_url() ?>/public/js/vali2.js"></script>
<?= $this->endsection() ?>