<?= $this->extend('layouts/frontend6.php') ?>
<?= $this->section('card') ?>
<form action="conexion5.php" id="form1" name="form1" method="POST">
    <fieldset>
        <legend class="leg">Form. 5 [Plomeros]</legend>




        <br>Nombres: <br>
        <input type="text" name="nombres" id="nombres" placeholder="----------">

        <br>Apellidos: <br>
        <input type="text" name="apellidos" id="apellidos" maxlength="30" placeholder="----------">

        <br>Telefono: <br>
        <input type="text" name="telefonos" id="telefonos" maxlength="30" placeholder="----------">

        <br>sistema_reclamo: <br>
        <select name="id_sistema_reclamo" id="id_sistema_reclamo">
            <option value=""> sistema</option>
         
                <option ></option>
        </select>


        <div class="ubi_boton">
            <input type="button" value="ENVIAR" class="boton" onclick="validar();">
            <input type="reset" value="BORRAR" class="boton">
        </div>
    </fieldset>
    <a href="principal2.php"><span class="icon icon-home3">Inicio</span></a>
</form>

<?= $this->endsection() ?><?= $this->section('script') ?>
<script type="text/javascript" src="<?= base_url() ?>/public/js/vali5.js"></script>
<?= $this->endsection() ?>